.container {
  margin: 0 auto;
  padding: 60px 15px;
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 147px;
    padding-bottom: 143px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 102px;
    padding-right: 102px;
  }
}
