$primary-font: 'Roboto', sans-serif;
$modal-color: #ffffff;
$modal-backdrop-color: rgba(0, 0, 0, 0.5);
// $color-up: green;
// $color-down: red;
$primary-font-color: #000000;
// $secondary-font-color: #fff;
// $primary-button-color: #47a7e7;
// $secondary-button-color: #d65161;
